@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.old-platform-root {
  --primary-color: #0073ea;
  --primary-hover-color: #0060b9;
  --primary-selected-color: rgba(0, 115, 234, 0.1);

  --primary-background-color: #ffffff;
  --secondary-background-color: #ffffff;
  --primary-surface-color: #f5f6f8;
  --ui-background-color: #dcdfec;
  --primary-background-hover-color: rgba(0, 0, 0, 0.04);

  --ui-border-color: #c3c6d4;
  --layout-border-color: #e6e9ef;

  --primary-text-color: #323338;
  --secondary-text-color: #676879;
  --placeholder-color: #676879;
  --fixed-light-color: #ffffff;
  --text-color-on-inverted: #ffffff;
  --link-color: #0073ea;

  --color-done-green: #00c875;
  --color-working_orange: #fdab3d;
  --color-stuck-red: #e2445c;
  --color-dark_purple: #784bd1;
  --color-dark_indigo: #401694;
  --color-egg_yolk: #cab641;
  --color-bright-blue: #579bfc;
  --color-blackish: #333333;
  --color-american_gray: #c4c4c4;
  --color-dark-blue: #0044b9;
  --color-purple: #a25ddc;

  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 16px;

  --disabled-background-color: #dcdfec;
  --disabled-text-color: #c3c6d4;

  --board-screening: #579bfc;
  --board-interviews: #fdab3d;
  --board-contract: #00c875;

  font-family: 'Figtree', sans-serif;
  color: var(--primary-text-color);
}

.old-platform-root .leftpane-content * {
  font-family: 'Figtree', sans-serif !important;
}

.old-platform-root .topbar-wrapper * {
  font-family: 'Figtree', sans-serif !important;
}
